@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  --golden: #917549;
  --silver: #808080;
  --error: theme(colors.red.500);

  --admin-background: theme(colors.gray.100);
  --admin-sidebar-background: #ffffff;
  --admin-border: theme(colors.gray.200);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-golden: var(--golden);
  --color-silver: var(--silver);
  --color-error: var(--error);

  --color-admin-background: var(--admin-background);
  --color-admin-sidebar-background: var(--admin-sidebar-background);
  --color-admin-border: var(--admin-border);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --admin-background: theme(colors.gray.900);
    --admin-sidebar-background: theme(colors.gray.800);
    --admin-border: theme(colors.gray.700);
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body:has(.hide-overflow) {
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-number-arrows::-webkit-outer-spin-button,
.no-number-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-number-arrows[type="number"] {
  -moz-appearance: textfield;
}

.logo-icon {
  width: 40px;
  height: 40px;
  background-color: var(--color-foreground);
  -webkit-mask: url("/logo.png") no-repeat center / contain;
  mask: url("/logo.png") no-repeat center / contain;
}
